{% extends "base.html" %}
{% block content %}
    <div class="board-guide"> <!-- 모듈화 하기! -->
        <div class="subject">{{ subject }}</div>
        <button class="btn btn-sm btn-default" id="gotoWritePage">글쓰기</button>
    </div>
    <br/><hr/>
    <div class="board-container">
        <div class="container-fluid table-board">
            <div class="row table-head">
                <span class="col-md-6" style="border-left: none;">TITLE</span>
                <span class="col-md-2">AUTHOR</span>
                <span class="col-md-2">CREATED</span>
                <span class="col-md-2">UPDATED</span>
            </div>
            {% if result_list %}
                {% for result in result_list %}
                    <div class="row table-body" id="{{ result._id }}">
                        <span class="col-md-6" style="border-left: none;">{{ result.title }}</span>
                        <span class="col-md-2">{{ result.author }}</span>
                        <span class="col-md-2">{{ result.created.split(' ')[0].split('20')[1] }}</span>
                        <span class="col-md-2">{{ result.updated.split(' ')[0].split('20')[1] }}</span>
                    </div>
                {% endfor %}
            {% else %}
                <div class="notFound">
                    자료가 없습니다!
                </div>
            {% endif %}
        </div>
    </div>
    <hr/>
    <div class="container-fluid pagination-part">
        <ul class="pagination pagination-sm">
            {% if pagination.nowpage >= 2 %}
                <li class="alter_page">처음<span>1</span></li>
                <li class="alter_page">이전<span>{{ pagination.nowpage - 1 }}</span></li>
                <li>&nbsp;|&nbsp;</li>
            {% endif %}
            {% for i in range(pagination.startpage, pagination.endpage + 1) %}
                {% if pagination.nowpage == i %}
                    <li class="alter_page" style="color: red;">{{i}}<span>{{i}}</span></li>
                {% else %}
                    <li class="alter_page">{{i}}<span>{{i}}</span></li>
                {% endif %}
            {% endfor %}
            {% if pagination.nowpage < pagination.maxpage %}
                <li>&nbsp;|&nbsp;</li>
                <li class="alter_page">다음<span>{{ pagination.nowpage + 1 }}</span></li>
                <li class="alter_page">마지막<span>{{ pagination.maxpage }}</span></li>
            {% endif %}
        </ul>
    </div>
    <!-- 동 페이지에서 ajax 로 처리할 것! 페이지 흐름에 대한 고려도 필요함 -->
    <a href="http://localhost:5000/boards/" class="btn btn-sm btn-default">BOARDS</a>
    <a href="http://localhost:5000/todos/" class="btn btn-sm btn-default">TODOS</a>

    <script>
        $(document).ready(function () {
            var highlight = 'Board';
            var pre_uri = 'board/';
            var post_uri = '';

            if ('{{ subject }}' == 'Todo List') {
                highlight = 'Todo';
                pre_uri = 'todo/';
            }

            convertPage($('.masthead-nav > #goto' + highlight));

            // change list page
            $('.pagination-part li').on('click', function() {
                changeList(pre_uri.split('/')[0] + 's/', $(this).children('span').text());
            });

            // go to write page
            $('.board-guide #gotoWritePage').on('click', function() {
                post_uri = 'write/';
                getDocument(pre_uri + post_uri, '');
            });

            // go to view page
            $('.table-board .table-body').on('click', function() {
                post_uri = 'view/';
                getDocument(pre_uri + post_uri, this.id);
            });
        });
    </script>
{% endblock %}