{% extends "base.html" %}
{% block content %}
    <div class="board-guide"> <!-- 모듈화 하기! -->
        <button class="btn btn-sm btn-default" id="gotoListPage">목록으로</button>
    </div>
    <br/><hr/>
    <div class="modify-container">
        <div class="profile-part">
            <div class="profile-container">
                <img id="image" src="{{ url_for('static', filename='imgs' + session.profile.split('imgs')[1]) }}" alt="profile-image" />
            </div>
        </div>
        <span>{{ subject }}</span>
        <hr>
        <form class="form-group modify-form" method="post">
            <input name="_id" type="text" class="form-control" value="{{ result._id }}" style="display:none;" />
            <input name="board-type" type="text" class="form-control" value="{% if subject == 'Todo Modify': %}할 일{% else %}게시글{% endif %}" readonly />
            <input name="title" type="text" class="form-control" value="{{ result.title }}" />
            <input name="author" type="text" class="form-control" value="{{ result.author }}" readonly />
            <input name="updated" type="text" class="form-control" value="{{ result.updated }}" readonly />
            <textarea name="content" class="summernote">{{ result.content }}</textarea>
            <button type="button" class="btn btn-sm btn-default" id="modify-submit">제 출</button>
            <button type="button" class="btn btn-sm btn-default" id="prePage" onclick="location.href='http://localhost:5000/{% if subject == 'Todo Modify': %}todo{% else %}board{% endif %}/view/{{ result._id }}'">돌아가기</button>
        </form>
    </div>
    <hr/>

    <script>
        $(document).ready(function () {
            var highlight = 'Board';
            var pre_uri = 'boards/';

            if ('{{ subject }}' == 'Todo Modify') {
                highlight = 'Todo';
                pre_uri = 'todos/';
            }

            convertPage($('.masthead-nav > #goto' + highlight));

            $('.summernote').summernote({
                placeholder: '내용 입력',
                tabsize: 2,
                height: 200,
                minHeight: 200,
                maxHeight: null,
                focus: true,
                toolbar: [
                    ['style', ['style']],
                    ['font', ['bold', 'underline', 'clear']],
                    ['fontname', ['fontname']],
                    ['color', ['color']],
                    ['para', ['ul', 'ol', 'paragraph']],
                    ['table', ['table']],
                    ['insert', ['link', 'picture', 'video']],
                    ['view', ['fullscreen', 'help']],
                ]
            });

            // go to list page
            $('.board-guide #gotoListPage').on('click', function() {
                getDocument(pre_uri, '');
            });

            // go to previous page
            $('.modify-form #prePage').on('click', function() {
                var decision = confirm('작성 데이터는 사라집니다. 이전 페이지로 돌아가시겠습니까?');
                if (decision) {
                    history.back();
                } else {
                    alert('canceled');
                }
            });

            // modify action
            $('.modify-form #modify-submit').on('click', function() {
                modifyAction($('.modify-form'), highlight);
            });
        });
    </script>
{% endblock %}