{% extends "base.html" %}
{% block content %}
    <div class="board-guide"> <!-- 모듈화 하기! -->
        <button class="btn btn-sm btn-default" id="gotoListPage">목록으로</button>
        <button class="btn btn-sm btn-default" id="gotoWritePage">글쓰기</button>
    </div>
    <br/><hr/>
    <div class="view-container" id="{{ result._id }}">
        <span>(icon) 게시글 보기</span>
        <span>{{ result.author }} (사용자정보)</span>
        <hr>
        <div class="view-left">
            <div class="view-head">
                <div class="view-component" style="background-color: #fff;">
                    {{ '# ' + result._id[:5] + '***' + result._id[19:24] }}
                </div>
                <div class="view-title">
                    {{ result.title }}
                </div>
                <div class="view-component">
                    created : {{ result.created }}
                </div>
                <div class="view-component">
                    updated : {{ result.updated }}
                </div>
            </div>
            <hr/>
            <div class="view-body">
                <div class="view-content">
                    {{ result.content|safe }}
                </div>
            </div>
        </div>
        <div class="view-right">
            {% if 'email' in session and session.nickname == result.author %}
                <button type="button" class="btn btn-sm btn-primary" id="getModifyPage">수정</button><br/>
                <button type="button" class="btn btn-sm btn-danger" id="deleteAction">삭제</button>
            {% else %}
                <button type="button" class="btn btn-sm btn-info" id="">추천</button><br/>
                <button type="button" class="btn btn-sm btn-warning" id="">신고</button>
            {% endif %}
        </div>
    </div>
    <hr/>
    <div class="view-container">
        <span>(댓글 파트) - 모듈화할 것</span>
        <hr>
        댓글 순서대로 보여주고,<br/>
        하단에 댓글 쓰기 위치한다. (댓글 crud)<br/>
        댓글은 ajax 로 처리!<br/>
        <button type="button" class="btn btn-sm btn-default">댓글쓰기</button>
    </div>
    <hr/>

    <script>
        $(document).ready(function () {
            var highlight = 'Board';
            var pre_uri = 'board/';
            var post_uri = '';

            if ('{{ subject }}' == 'Todo View') {
                highlight = 'Todo';
                pre_uri = 'todo/';
            }

            convertPage($('.masthead-nav > #goto' + highlight));

            // go to write page
            $('.board-guide #gotoWritePage').on('click', function() {
                post_uri = 'write/';
                getDocument(pre_uri + post_uri, '');
            });

            // go to list page
            $('.board-guide #gotoListPage').on('click', function() {
                getDocument(pre_uri.split('/')[0] + 's/', '');
            });

            $('.view-container #getModifyPage').on('click', function() {
                post_uri = 'modify/';
                getDocument(pre_uri + post_uri, $('.view-container').attr('id'));
            });
            $('.view-container #deleteAction').on('click', function() {
                var decision = confirm('삭제하시겠습니까?');
                if (decision) {
                    deleteAction($('.view-container').attr('id'), highlight);
                } else {
                    alert('canceled');
                }
            });
        });
    </script>
{% endblock %}