<!DOCTYPE HTML>
<html lang="ko">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <title>Welcome page</title>

        <!-- imported apis -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/1.4.5/socket.io.min.js"></script>

        <!-- about bootstrap -->
        <link rel="stylesheet" href="{{ url_for('static', filename='bootstrap/bootstrap-4.3.1-dist/css/bootstrap.min.css') }}" />
        <script src="{{ url_for('static', filename='bootstrap/bootstrap-4.3.1-dist/js/bootstrap.min.js') }}"></script>

        <!-- about summernote -->
        <link rel="stylesheet" href="{{ url_for('static', filename='summernote/dist/summernote.css') }}" />
        <script src="{{ url_for('static', filename='summernote/dist/summernote.js') }}"></script>
        <script src="{{ url_for('static', filename='summernote/dist/lang/summernote-ko-KR.js') }}"></script>

        <!-- inner static files -->
        <link rel="stylesheet" href="{{ url_for('static', filename='css/base.css') }}" />
        <link rel="stylesheet" href="{{ url_for('static', filename='css/index.css') }}" />
        <link rel="stylesheet" href="{{ url_for('static', filename='css/member.css') }}" />
        <link rel="stylesheet" href="{{ url_for('static', filename='css/board.css') }}" />
        <script src="{{ url_for('static', filename='js/base.js' ) }}"></script>
        <script src="{{ url_for('static', filename='js/board.js' ) }}"></script>
        <script src="{{ url_for('static', filename='js/member.js' ) }}"></script>
        <script src="{{ url_for('static', filename='js/socketio.js' ) }}"></script>

    </head>
    <body>
        <div class="inner">
            <h3 class="masthead-brand" onclick="location.href='http://localhost:5000/'">Flask Board</h3>
            <nav>
                <ul class="nav masthead-nav">
                    <li id="gotoHome"><a href="http://localhost:5000/">Home</a></li>
                    <li id="gotoBoard"><a href="http://localhost:5000/boards/">Board</a></li>
                    <li id="gotoTodo"><a href="http://localhost:5000/todos/">Todo</a></li>
                    <li id="gotoContact"><a href="http://localhost:5000/contact/">Contact</a></li>
                    <!--<li id="account-management">
                        <span>account</span>
                        <div class="dropdown account-dropdown">
                            <div class="triangle underbar"></div>
                        </div>
                    </li>-->
                </ul>
            </nav>
        </div>
        <div class="site-wrapper">
            <div class="site-wrapper-inner">
                <div class="cover-container">
                    <div class="inner cover">
                        <div class="message-container">
                            {% with messages = get_flashed_messages(with_categories=true) %}
                                {% if messages %}
                                    {% for category, message in messages %}
                                        <div class="alert alert-{{ category }} alert-message">
                                            {{ message }}
                                        </div>
                                    {% endfor %}
                                {% endif %}
                            {% endwith %}
                            {% if form and form.errors %}
                                {% for fieldName, errorMessages in form.errors.items(): %}
                                    <div class="alert alert-danger alert-message">
                                        <p>fieldName : {{ fieldName }}</p>
                                        {% for error in errorMessages %}
                                            <p>error : {{ error }}</p>
                                        {% endfor %}
                                    </div>
                                {% endfor %}
                            {% endif %}
                        </div>
                        {% block content %}
                        {% endblock content %}
                    </div>
                </div>
            </div>
        </div>
        <div class="inner">
            <p>&copy; copyright <a href="#">everyone</a>, by <a href="https://github.com/daesungRa" target="_blank">@rds</a>.</p>
        </div>

        <!-- Button trigger modal -->
        <div class="side-component">
            {% if session['email'] %}
                <div class="welcome-message">
                    Welcome, <strong><i><TT>{{ session['nickname'] }}</TT></i></strong>
                </div>
                <button type="button" id="btn_signout" class="btn btn-sm btn-secondary" onclick="location.href = '/signout/'">
                    SIGN OUT
                </button>
                <button type="button" id="btn_mypage" class="btn btn-sm btn-secondary" onclick="location.href = '#mypage'">
                    MY PAGE
                </button>
            {% else %}
                <button type="button" id="btn_signin" class="btn btn-sm btn-secondary" onclick="location.href = '/signin/'">
                    SIGN IN
                </button>
                <button type="button" id="btn_signup" class="btn btn-sm btn-secondary" onclick="location.href = '/signup/'">
                    SIGN UP
                </button>
            {% endif %}
        </div>
        <!-- imported modal macro -->
    </body>
</html>



<!--<div class="masthead clearfix">
    <div class="inner">
        <h3 class="masthead-brand">Flask Board</h3>
        <nav>
            <ul class="nav masthead-nav">
                <li class="active"><a href="#">Home</a></li>
                <li><a href="#">Board</a></li>
                <li><a href="#">Contact</a></li>
            </ul>
        </nav>
    </div>
</div>-->


