{% macro account_macro(target_id, title, form) %}
<div class="account" id="{{ target_id }}" tabindex="-1" role="dialog">
  <div class="account-dialog" role="document">
    <div class="account-content">
      <div class="account-header">
        <h3 class="account-title">{{ title }}</h3>
      </div>
      <div class="account-body">
        <div class="content-section">
          {% if form.username %}
          <form action="{{ url_for('signup') }}" method="POST" enctype="multipart/form-data">
          {% else %}
          <form action="{{ url_for('signin') }}" method="POST">
          {% endif %}
            {{ form.hidden_tag() }}
            <fieldset class="form-group">
              <div class="form-group">
                {{ form.email.label(class='form-control-label') }}
                {% if form.email.errors %}
                  {{ form.email(class='form-control form-control-sm is-invalid', autofocus='autofocus') }}
                  <div class="invalid-feedback">
                    {% for error in form.email.errors %}
                      <span>{{ error }}</span>
                    {% endfor %}
                  </div>
                {% else %}
                  {{ form.email(class='form-control form-control-sm', autofocus='autofocus') }}
                {% endif %}
              </div>
              {% if form.username %}
                <div class="form-group">
                  {{ form.username.label(class='form-control-label') }}
                  {% if form.username.errors %}
                    {{ form.username(class='form-control form-control-sm is-invalid', autofocus='autofocus') }}
                    <div class="invalid-feedback">
                      {% for error in form.username.errors %}
                        <span>{{ error }}</span>
                      {% endfor %}
                    </div>
                  {% else %}
                    {{ form.username(class='form-control form-control-sm', autofocus='autofocus') }}
                  {% endif %}

                  {{ form.nickname.label(class='form-control-label') }}
                  {% if form.nickname.errors %}
                    {{ form.nickname(class='form-control form-control-sm is-invalid') }}
                    <div class="invalid-feedback">
                      {% for error in form.nickname.errors %}
                        <span>{{ error }}</span>
                      {% endfor %}
                    </div>
                  {% else %}
                    {{ form.nickname(class='form-control form-control-sm') }}
                  {% endif %}
                </div>
              {% endif %}
              <div class="form-group">
                {{ form.pwd.label(class='form-control-label') }}
                {% if form.pwd.errors %}
                    {{ form.pwd(class='form-control form-control-sm is-invalid') }}
                    <div class="invalid-feedback">
                      {% for error in form.pwd.errors %}
                        <span>{{ error }}</span>
                      {% endfor %}
                    </div>
                  {% else %}
                    {{ form.pwd(class='form-control form-control-sm') }}
                  {% endif %}
              </div>
              {% if form.confirm_pwd %}
                <div class="form-group">
                  {{ form.confirm_pwd.label(class='form-control-label') }}
                  {% if form.confirm_pwd.errors %}
                    {{ form.confirm_pwd(class='form-control form-control-sm is-invalid') }}
                    <div class="invalid-feedback">
                      {% for error in form.confirm_pwd.errors %}
                        <span>{{ error }}</span>
                      {% endfor %}
                    </div>
                  {% else %}
                    {{ form.confirm_pwd(class='form-control form-control-sm') }}
                  {% endif %}
                </div>
                <div class="form-group profile-part">
                    {{ form.profile.label(class='form-control-label') }}<br/>
                    <div class="profile-container">
                      {% if form.profile.errors %}
                        {{ form.profile(class='is-invalid signup-profile', id='signup-profile', onchange='return imagePreview(event);') }}
                        <img id="image" src="{{ url_for('static', filename='imgs/blank_profile01.png') }}" alt="profile-image" />
                        <div class="invalid-feedback">
                          {% for error in form.profile.errors %}
                            <span>{{ error }}</span>
                          {% endfor %}
                        </div>
                      {% else %}
                        {{ form.profile(class='signup-profile', id='signup-profile', onchange='return imagePreview(event);') }}
                        <img id="image" src="{{ url_for('static', filename='imgs/blank_profile01.png') }}" alt="profile-image" />
                      {% endif %}
                    </div>
                </div>
              {% endif %}
            </fieldset>
            <div class="form-group">
              {{ form.submit(class='btn btn-outline-info') }}
            </div>
          </form>
        </div>
        <div class="border-top pt-3">
          <small class="text-muted">
            {% if title == 'SIGN UP' %}
              Already Have an Account? <span class="ml-2" onclick="location.href = '/signin/'">Sign In</span>
            {% else %}
              Create Account? <span class="ml-2" onclick="location.href = '/signup/'">Sign Up</span>
            {% endif %}
          </small>
        </div>
      </div>
    </div>
  </div>
</div>
{% endmacro %}